.copyright {
    background-color: $gray-blue;

    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        min-height: 79px;
    }

    &__text {
        color: $dark-white;
        padding: 0 0 0 5px;
    }

    &__icon-wrapper {
    }

    /* &__icon-link {
        display: block;
        width: 32px;
        height: 32px;
        background-color: $white;
    } */

    &__icon {
        background-color: $white;
        margin: 0 0 0 5px;
        padding: 8px 8px;
    }
}
